{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tool Interface</title>
    <!-- should actually install at some point -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
</head>
<body>
    <h1>Interface</h1>
    <br>
    <h3>Possible Privileges</h3>
    <form id="add_priv" action="#" method="POST">
        {% csrf_token %}
        <input type="text" name="add_priv">
        <input type="submit" value="Add Privilege">
    </form>
    <br>
    <form id="delete_priv" action="#" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete Selected Privileges">
        <br>
        <label>
            <input id="toggle_possible_priv_select" type="checkbox" value="Toggle Select All">
            Toggle Select All
        </label>
        <div id="possible_privs_checkboxes">
            <ul id="possible_privs">
            </ul>
        </div>
    </form>
    <br>
    <h3>Roles</h3>
    <form id="add_role" action="#" method="POST">
        {% csrf_token %}
        <input type="text" name="role">
        <input type="submit" value="Add Role">
    </form>
    <br>
    <div class="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <section class="modal-card-body">
                <form action="#" id="edit_role_privs">
                <input id="apply_priv_edit" type="submit" value="Apply changes">
                <div id="role_priv_checkboxes">
                    <ul id="role_privs"></ul>
                </div>
            </form>

            </section>
        </div>
        <button class="modal-close is-large" aria-label="close"></button>
    </div>

    <form id="delete_role" action="#" method="POST">
        {% csrf_token %}
        <input type="submit" value="Delete Selected Roles">
        <br>
        <label>
            <input type="checkbox" id="toggle_role_select">
            Toggle Select All
        </label>
        <div id="roles_checkboxes">
            <ul id="roles">
            <!-- {% for role in roles %}
                <li>
                    <p>{{ role }}</p>
                    {% if role.privilege_set.all %}
                        <ul>
                            {% for privilege in role.privilege_set.all %}
                            <li>{{ privilege.priv.priv_name }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </li>
            {% endfor %} -->
            </ul>
        </div>
    </form>
    <br>
    <!-- <form action="{% url 'assign_priv_to_role' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="role" placeholder="role">
        <input type="text" name="priv" placeholder="priv">
        <input type="submit" value="Assign Priv to Role">
    </form>
    <br>
    <form action="{% url 'remove_priv_from_role' %}" method="POST">
        {% csrf_token %}
        <input type="text" name="role" placeholder="role">
        <input type="text" name="priv" placeholder="priv">
        <input type="submit" value="Remove Priv from Role">
    </form> -->
    
    
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>