{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Tool Interface</title>
    <link rel="stylesheet" href="../../static/css/style.css">
    <!-- should actually install at some point -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css">
    <link rel="stylesheet" href="">
</head>
<body>
    <section class="hero is-light">
        <div class="hero-body">
          <div class="container">
            <h1 class="title">
                Interface Tool
            </h1>
            <h2 class="subtitle">
                For creating directed acyclic graphs in hierarchical access control schemes
            </h2>
          </div>
        </div>
    </section>
    
    <section class="section">
        <section class="container is-fluid">
            <button id="create_dag" class="button is-success">Create the DAG</button>

            <!-- hidden by default, until dag is created -->
            <div id="cy" class="box is-hidden"></div>

            <hr class="hr">

            <div class="field">
                <form id="add_priv" action="#" method="POST">
                    {% csrf_token %}
                    <label class="label">Possible Privileges</label>
                    <div class="control">
                        <div class="columns is-variable is-1">
                            <div class="column is-half">
                                <input class="input" type="text" name="add_priv">
                            </div>
                            <div class="column is-one-quarter">
                                <input class="button is-info" type="submit" value="Add Privilege">
                            </div>
                            <div class="column is-one-quarter"></div>
                        </div>
                    </div>
                </form>
            </div>

            <hr class="hr">
            
            <div class="field">
                <form id="delete_priv" action="#" method="POST">
                    {% csrf_token %}
                    <div class="control">
                        <input class="button is-danger" type="submit" value="Delete Selected Privileges">
                        <label class="label">
                            <input id="toggle_possible_priv_select" type="checkbox" value="Toggle Select All">
                            Toggle Select All
                        </label>
                        <div id="possible_privs_checkboxes">
                            <ul id="possible_privs">
                            </ul>
                        </div>
                    </div>
                </form>
            </div>

            <hr class="hr">
            
            <div class="field">
                <form id="add_role" action="#" method="POST">
                    <div class="label">Roles</div>
                    {% csrf_token %}
                    <div class="control">
                        <div class="columns is-variable is-1">
                            <div class="column is-half">
                                <input class="input" type="text" name="role">
                            </div>
                            <div class="column is-one-quarter">
                                <input class="button is-info" type="submit" value="Add Role">
                            </div>
                            <div class="column is-one-quarter"></div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal">
                <div class="modal-background"></div>
                <div class="modal-card">
                    <section class="modal-card-body">
                        <form action="#" id="edit_role_privs">
                        <input class="button is-success" id="apply_priv_edit" type="submit" value="Apply changes">
                        <div id="role_priv_checkboxes">
                            <ul id="role_privs"></ul>
                        </div>
                    </form>

                    </section>
                </div>
                <button class="modal-close is-large" aria-label="close"></button>
            </div>

            <hr class="hr">

            <div class="field">
                <form id="delete_role" action="#" method="POST">
                    {% csrf_token %}
                    <input class="button is-danger" type="submit" value="Delete Selected Roles">
                    <br>
                    <label class="label">
                        <input type="checkbox" id="toggle_role_select">
                        Toggle Select All
                    </label>
                    <div class="content" id="roles_checkboxes">
                        <ul id="roles">
                        </ul>
                    </div>
                </form>
            </div>
                
        </section>
    </section>
    

    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cytoscape@3.14.0/dist/cytoscape.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/dagre@0.8.5/dist/dagre.min.js"></script> 
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/cytoscape-dagre@2.2.2/cytoscape-dagre.min.js"></script>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>